.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E9E9E3;
    padding: 3rem 0 3rem 0;
}

.menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #fff;
}

.top-menu h3,
.buttom-menu h3 {
    font-size: 2rem;
    font-style: bold;
    text-align: center;
}

.top-menu{
    margin-bottom: 1rem;
}

.top-menu,
.buttom-menu{
    padding: 2rem;
    border: 2px solid #000;
}

.menu-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-left-side h4{
    font-size: 2rem;
}

.menu-left-side p{
    font-size: 1.5rem;
    font-style: bold;
    width: 300px;
}


.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button{
    width: 30vw;
    height: 3rem;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-style: bold;
    border: 3px solid #6F6F64;
    border-radius: 2px;
    cursor: pointer;
}

.buttons button:hover{
    color: #fff;
    background-color: #6F6F64;
    border-color: #E9E9E3;
}

@media screen and (max-width: 576px) {

   .menu{
       display: flex;
       flex-direction: column;
   }

   .menu-left-side {
        align-items: center;
   }

   .buttons button{
       width: 50vw;
        font-size: 1rem;
   }

   .buttons button:last-child{
       margin-bottom: 3rem;
   }


}
